body{
  background-color: #252B2D;
} 


.challenge-container {
    font-family: 'Sour Gummy', sans-serif;
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #252B2D;
    padding: 0;
  }
  
  /* Header with gradient background */
  .challenge-headers {
    background-color: #252B2D;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  .challenge-header h1{
    color: #ffffff;
  }
  
  .back-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .challenge-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Progress section */
  .progress-container {
    background-color: #252B2D; /* Gradient matching header */
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .progress-container p{
    color: #ffffff;
  }
  
  .progress-bar {
    width: 80%;
    height: 10px;
    background: #555;
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
  }
  
  .progress-fill {
    height: 100%;
    background: #00ff00; /* Green loader */
    border-radius: 5px;
    transition: width 0.2s ease-in-out;
  }
  
  /* Intro Section */
  .challenge-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0px;
    border-radius: 10px;
    margin: 20px auto 5px;
  }
  
  .challenge-logo {
    height: 30px;
    transform: scale(2.3);
    border-radius: 50px;
    margin-bottom: 4px;
  }
  
  /* Day Containers */
  .challenge-days {
    margin: 20px 0;
  }
  
  .day-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff; /* White background */
    color: #000; /* Black text */
    padding: 30px 30px;
    border-radius: 5px;
    margin:  0px 5px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .day-card.active {
    background: linear-gradient(to right, #6699CC, #33CC99);  /* Highlight color */
    color: #fff;
  }
  
  .day-button {
    background: transparent;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .day-card.active .day-button {
    color: #fff;
  }

  .foots{
    display: none;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
  }

  @media screen and (max-width: 430px) and (max-height: 932px){

    .foots{
      display: block;
      color: white;
      text-align: center;
      padding-top: 20px;
      margin-top: 20px;
    }

    .day-card{
      padding:20px 20px;
      margin: 0px 8px 15px;
    }
  }
  